@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(245, 245, 245, 0.8);
  width: 100%;
  height: 100%;
  animation: 3s ease-out both preloader;
}

@keyframes preloader {
  0% {
    background: rgba(245, 245, 245, 0.8);
    z-index: 500;
  }
  80% {
    background: rgba(245, 245, 245, 0.8);
    z-index: 500;
  }
  100% {
    background: rgba(245, 245, 245, 0);
    z-index: -500;
  }
}
/* PRELOADER CSS IMAGE : */
@keyframes preloaderImage {
  0% {
    opacity: 1;
    z-index: 502;
  }
  70% {
    opacity: 1;
    z-index: 502;
  }
  100% {
    opacity: 0;
    z-index: -500;
  }
}
.baseBox {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  float: left;
  width: 30%;
  padding-bottom: 30%;
  margin: 1.66%;
  background-color: transparent;
}

.base {
  position: relative;
  width: 100%;
  margin: auto;
}

.bg {
  background: rgba(0, 0, 0, 0.6);
  height: 70vw;
  width: 70vw;
  z-index: -2;
  border-radius: 50%;
  display: flex;
  margin: auto;
  animation: 3s ease-out both preloaderImage;
}
@media screen and (min-width: 800px) {
  .bg {
    height: 40vw;
    width: 40vw;
  }
}

#box1 {
  position: relative;
}

.fork {
  position: absolute;
  right: 0;
  width: 14%;
  height: 100%;
  margin-right: 10px;
  margin-left: 10px;
  filter: drop-shadow(2px 2px 0 grey) drop-shadow(2px 2px 4px #3b3b3b);
}

.forkHead {
  position: absolute;
  background: #e4ecf2;
  width: 100%;
  height: 14%;
  top: 22%;
  border-radius: 0 0 40% 40%;
}

#f1 {
  position: inherit;
  background: #e4ecf2;
  width: 20%;
  height: 156%;
  bottom: 100%;
  border-radius: 40% 40% 0 0;
}

#f2 {
  position: inherit;
  background: #e4ecf2;
  width: 20%;
  height: 156%;
  bottom: 100%;
  left: 40%;
  border-radius: 40% 40% 0 0;
}

#f3 {
  position: inherit;
  background: #e4ecf2;
  width: 20%;
  height: 156%;
  bottom: 100%;
  right: 0;
  border-radius: 40% 40% 0 0;
}

.forkHandle {
  position: absolute;
  background: #e4ecf2;
  height: 70%;
  width: 100%;
  right: 0%;
  bottom: 0%;
  clip-path: polygon(30% 0%, 70% 0%, 90% 100%, 10% 100%);
  border-radius: 0 0 50% 50%;
  z-index: -1;
}

#box3 {
  position: relative;
}

.knife {
  position: absolute;
  left: 0;
  width: 14%;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  filter: drop-shadow(2px 2px 0 grey) drop-shadow(2px 2px 4px #3b3b3b);
}

.knifeHead {
  position: absolute;
  background: #e4ecf2;
  height: 50%;
  width: 100%;
  left: 0%;
  top: 0;
  border-radius: 80% 4px 10px 10px;
}

.knifeHandle {
  position: absolute;
  background: #e4ecf2;
  height: 70%;
  width: 100%;
  left: 10%;
  bottom: 0%;
  clip-path: polygon(30% 0%, 70% 0%, 90% 100%, 10% 100%);
  border-radius: 0 0 50% 50%;
}

#box2 {
  position: relative;
}

.plate {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #e4ecf2;
  border-radius: 50%;
  box-shadow: 0 0 0 0.6vw grey inset;
  filter: drop-shadow(4px 4px 12px #3b3b3b);
}

.borderPlate {
  position: absolute;
  top: 0;
  align-self: center;
  width: 100%;
  height: 100%;
  background: none;
  border-radius: 50%;
  box-shadow: 0 0 0 0.6vw grey inset;
  z-index: 2;
}

.centerPlate {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 0 0.4vw grey inset;
  z-index: 6;
}

.lds-dual-ring {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
}
.lds-dual-ring:after {
  content: " ";
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 68%;
  height: 68%;
  display: block;
  z-index: 1;
  top: 0;
  margin: auto;
  border-radius: 50%;
  border: 3.2vw solid #bfcfdb;
  border-color: #bfcfdb transparent #bfcfdb transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@media screen and (min-width: 800px) {
  .lds-dual-ring:after {
    width: 60%;
    height: 60%;
    border: 2.4vw solid #bfcfdb;
    border-color: #bfcfdb transparent #bfcfdb transparent;
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.container {
  font-size: 10rem;
  margin: auto;
  z-index: 3;
  position: absolute;
  width: 70%;
  height: 70%;
  top: 15%;
  right: 15%;
}

.gloader {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
  animation: base 3s steps(1) 0s infinite;
}

.gloader > * {
  display: block;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 50%;
  z-index: 1;
  border-radius: 0em 0.5em 0.5em 0em;
  transform-origin: 0px 50%;
}

.gloader > *:first-child {
  z-index: 2;
  transform-style: preserve-3d;
  animation: flip 3s linear 0s infinite;
}

.gloader > *:last-child {
  -webkit-animation: reveal 3s steps(1) 0s infinite;
  animation: reveal 3s steps(1) 0s infinite;
}

/* Standard Animations */
@keyframes base {
  0% {
    transform: rotate(0deg);
    background-color: #9356dc;
  }
  25% {
    transform: rotate(90deg);
    background-color: #99e2d0;
  }
  50% {
    transform: rotate(180deg);
    background-color: #ff79da;
  }
  75% {
    transform: rotate(270deg);
    background-color: #bfcfdb;
  }
  100% {
    transform: rotate(360deg);
    background-color: #99e2d0;
  }
}
@keyframes reveal {
  0% {
    background-color: #99e2d0;
    transform: rotate(0deg);
  }
  25% {
    background-color: #ff79da;
    transform: rotate(180deg);
  }
  50% {
    background-color: #bfcfdb;
    transform: rotate(0deg);
  }
  75% {
    background-color: #9356dc;
    transform: rotate(180deg);
  }
  100% {
    background-color: #99e2d0;
    transform: rotate(0deg);
  }
}
@keyframes flip {
  0% {
    background-color: #9356dc;
    transform: rotateY(0deg);
  }
  12.5%, 87.56% {
    background-color: #9eb7c9;
  }
  12.51%, 37.5% {
    background-color: #71d7be;
  }
  25% {
    background-color: #99e2d0;
  }
  37.51%, 62.5% {
    background-color: #ff46cc;
  }
  50% {
    background-color: #ff79da;
  }
  62.51%, 87.5% {
    background-color: #9eb7c9;
  }
  75%, 78% {
    background-color: #bfcfdb;
  }
  100% {
    background-color: #9356dc;
    transform: rotateY(-720deg);
  }
}
* {
  font-family: "Roboto", serif;
  box-sizing: border-box;
  margin: 0;
}
* h1,
* h2,
* h3,
* h4,
* h5,
* h6 {
  font-family: "Shrikhand", serif;
}

a:visited {
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

/* .filled-in{
  font-weight: 900 !important;
  opacity: 1;
  transition: all 2s ease;
  color: $color-primary;} */
#head {
  display: flex;
  flex-direction: row;
  margin: 14px;
}
#head > .headerItems {
  flex-basis: 100%;
  align-self: center;
  display: flex;
}
#head > .headerItems > img {
  width: 10rem;
  margin: auto;
}
@media screen and (min-width: 800px) {
  #head > .headerItems > img {
    width: 16rem;
  }
}
#head > .headerItems > a i {
  font-size: 1.2rem;
}

#carteMenu {
  background-color: #f5f5f5;
}
#carteMenu .illustration {
  position: relative;
}
#carteMenu .illustration img {
  width: 100%;
  object-fit: cover;
  height: 300px;
}
#carteMenu .illustration .restname {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: -40px;
  background-color: #f5f5f5;
  width: 100%;
  border-radius: 40px 40px 0 0;
  height: 80 px;
}
#carteMenu .illustration .restname h1 {
  line-height: 80px;
  padding: 10px 0 0 20px;
}
@media screen and (min-width: 800px) {
  #carteMenu .illustration .restname h1 {
    font-size: 1.8rem;
  }
}
#carteMenu .illustration .restname .like {
  padding: 10px 30px 0 0;
  font-size: 1.6rem;
  align-self: center;
  cursor: pointer;
}
#carteMenu .illustration .restname .like input {
  display: none;
  cursor: pointer;
}
#carteMenu .illustration .restname .like input .fa-heart {
  transition: all ease-in-out;
  color: black;
  font-weight: 400;
  opacity: 1;
  cursor: pointer;
}
#carteMenu .illustration .restname .like input:checked + .fa-heart {
  font-weight: 900 !important;
  color: #9356dc;
  animation: coeur 0.8s ease;
  opacity: 1;
}
@media screen and (min-width: 800px) {
  #carteMenu .illustration .restname .like .fa-heart:hover {
    font-weight: 900 !important;
    color: #ff79da;
    animation: coeurHover 0.6s ease;
    opacity: 1;
    cursor: pointer;
  }
}
@keyframes coeur {
  0% {
    color: black;
    opacity: 0.2;
    font-weight: 400;
  }
  10% {
    color: white;
    opacity: 0.2;
    font-weight: 900;
  }
  100% {
    color: #9356dc;
    opacity: 1;
    font-weight: 900;
  }
}
@keyframes coeurHover {
  0% {
    color: black;
    opacity: 0.2;
    font-weight: 400;
  }
  10% {
    color: white;
    opacity: 0.2;
    font-weight: 900;
  }
  100% {
    color: #ff79da;
    opacity: 1;
    font-weight: 900;
  }
}
@media screen and (min-width: 800px) {
  #carteMenu .illustration .restname .like {
    padding: 10px 60px 0 0;
  }
}
#carteMenu .menu {
  margin-top: 60px;
}
#carteMenu .menu .menuPart {
  margin-bottom: 40px;
}
#carteMenu .menu .menuPart .menuTitles {
  animation: menuDisplay 0.7s;
  padding: 20px 20px 10px 20px;
  display: inline-block;
  position: relative;
  font-size: 1.2rem;
}
#carteMenu .menu .menuPart .menuTitles:before {
  content: "";
  position: absolute;
  width: 3rem;
  height: 4px;
  bottom: 0;
  left: 20px;
  border-bottom: 4px solid #99e2d0;
}

.menuItemsButtons {
  margin: 20px;
  animation: menuItemsDisplay 0.4s ease-out;
}
.menuItemsButtons .menuItems {
  background-color: white;
  box-shadow: 4px 4px 12px rgba(38, 38, 38, 0.3);
  border-radius: 20px;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  background-size: 200% 200%;
  background-position: right;
  /* &::before {
    font-weight: 900;
    color: #0065fc;
    display: block;
    position: absolute;
    top: 0px;
    bottom: 10px;
    left: 0px;
    width: 52px;
    height: 52px;
    text-align: center;
    line-height: 52px;
    background-color: #deebff;
    border-radius: 100px;
  } */
}
.menuItemsButtons .menuItems .menuItemsPI {
  height: 100%;
  width: 22%;
  align-items: center;
  display: flex;
  justify-content: space-around;
  z-index: 9;
  position: relative;
  transition: all 0.3s;
}
.menuItemsButtons .menuItems .menuItemsPI .priceItems {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: all 0.3s;
  right: 0;
  font-weight: bold;
  background-color: white;
}
@media screen and (min-width: 800px) {
  .menuItemsButtons .menuItems .menuItemsPI .priceItems {
    width: 80%;
  }
}
.menuItemsButtons .menuItems .menuItemsPI .check {
  background-color: #99e2d0;
  width: 80px;
  position: absolute;
  height: 100%;
  right: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 800px) {
  .menuItemsButtons .menuItems .menuItemsPI .check {
    width: 100px;
    right: -100px;
  }
}
.menuItemsButtons .menuItems .menuItemsPI .check i {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  /* right: -80px;
  height: 100%;
  width: 80px; */
  transition: all 0.3s;
  background-color: #99e2d0;
  color: white;
  cursor: pointer;
}
.menuItemsButtons .menuItems .menuItemsTD {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
  white-space: nowrap;
  width: 100%;
  min-width: 0;
}
@media screen and (min-width: 800px) {
  .menuItemsButtons .menuItems .menuItemsTD {
    padding-left: 40px;
  }
}
.menuItemsButtons .menuItems .menuItemsTD .titleItems {
  font-weight: bold;
  padding-bottom: 10px;
}
@media screen and (min-width: 800px) {
  .menuItemsButtons .menuItems .menuItemsTD .titleItems {
    font-size: 1.1rem;
  }
}
.menuItemsButtons .menuItems .menuItemsTD .descItems {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (min-width: 800px) {
  .menuItemsButtons .menuItems:hover .check i {
    transform: rotate(360deg);
  }
  .menuItemsButtons .menuItems:hover .check {
    width: 100px;
    position: absolute;
    right: -100px;
  }
  .menuItemsButtons .menuItems:hover .priceItems {
    width: 50%;
    right: 0;
    padding: 80px 40px 80px 40px;
  }
  .menuItemsButtons .menuItems:hover .menuItemsPI {
    transform: translateX(-100px);
  }
}
.menuItemsButtons input {
  position: absolute;
  left: -9999px;
  /* &:checked + .menuItems {
    background-color: #0065fc;
    background-position: left;
    background-image: linear-gradient(to right, #0065fc 50%, white 0);
    color: white;
    border-color: #deebff;
  } */
  /* &:checked + .menuItems::before {
    background-color: #0065fc;
    color: white;
    border-color: #deebff;
  } */
}
.menuItemsButtons input:checked + .menuItems i {
  transform: rotate(360deg);
}
.menuItemsButtons input:checked + .menuItems .priceItems {
  width: 100%;
  right: 0;
  padding: 80px 40px 80px 40px;
}
@media screen and (min-width: 800px) {
  .menuItemsButtons input:checked + .menuItems .priceItems {
    width: 50%;
  }
}
.menuItemsButtons input:checked + .menuItems .menuItemsPI {
  transform: translateX(-80px);
}
@media screen and (min-width: 800px) {
  .menuItemsButtons input:checked + .menuItems .menuItemsPI {
    transform: translateX(-100px);
  }
}

.commander {
  display: flex;
  justify-content: center;
}
.commander button {
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  border-radius: 60px;
  height: 60px;
  width: 240px;
  cursor: pointer;
  outline: none;
  border: none;
  color: white;
  font-size: 1rem;
  box-shadow: 4px 4px 12px rgba(38, 38, 38, 0.3);
  opacity: 1;
  transition: all 0.3s ease;
  margin: 20px 80px 100px 80px;
}
.commander button:hover {
  opacity: 0.8;
  box-shadow: 4px 4px 22px rgba(38, 38, 38, 0.4);
}

/*@keyframes menuDisplay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}*/
@keyframes menuItemsDisplay {
  from {
    opacity: 0;
    transform: translate3d(0, 10px, 0);
    backface-visibility: hidden;
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
  }
}
.menuItemsButtons:nth-child(1) {
  animation-delay: 0.1s;
  animation-fill-mode: both;
}

.menuItemsButtons:nth-child(2) {
  animation-delay: 0.2s;
  animation-fill-mode: both;
}

.menuItemsButtons:nth-child(3) {
  animation-delay: 0.3s;
  animation-fill-mode: both;
}

.menuItemsButtons:nth-child(4) {
  animation-delay: 0.4s;
  animation-fill-mode: both;
}

.menuItemsButtons:nth-child(5) {
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

.menuItemsButtons:nth-child(6) {
  animation-delay: 0.6s;
  animation-fill-mode: both;
}

.menuItemsButtons:nth-child(7) {
  animation-delay: 0.7s;
  animation-fill-mode: both;
}

.menuItemsButtons:nth-child(8) {
  animation-delay: 0.8s;
  animation-fill-mode: both;
}

.menuItemsButtons:nth-child(9) {
  animation-delay: 0.9s;
  animation-fill-mode: both;
}

.menuItemsButtons:nth-child(10) {
  animation-delay: 1s;
  animation-fill-mode: both;
}

footer {
  background-color: #3b3b3b;
  padding: 20px 20px 30px 20px;
  display: flex;
  flex-direction: column;
}
footer span {
  font-family: "Shrikhand";
  color: white;
  font-size: 1.2rem;
  padding-bottom: 20px;
  display: block;
}
footer ul {
  padding: 0;
  padding-left: 0;
}
footer li {
  list-style: none;
  padding-bottom: 10px;
}
footer li a {
  color: white;
}
footer li i {
  color: white;
  width: 10px;
  padding-right: 30px;
}

#header-accueil .fas {
  color: transparent;
}

#accueil {
  background-color: #f5f5f5;
}
#accueil h1,
#accueil h2,
#accueil h3,
#accueil h4,
#accueil h5,
#accueil h6 {
  font-family: "Roboto", serif;
}
@media screen and (min-width: 800px) {
  #accueil {
    padding-bottom: 40px;
  }
}
#accueil > #loc {
  width: 100%;
}
#accueil > #loc input {
  position: relative;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 1rem;
  height: 50px;
  background: linear-gradient(to bottom, #cfcfcf, #e8e8e8 8px);
}
#accueil > #loc input::placeholder {
  font-family: "FontAwesome", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #262626;
}
#accueil > #loc input:focus::placeholder {
  color: transparent;
}
#accueil > #loc input:focus {
  outline: none;
}
#accueil > #loc i {
  position: absolute;
  align-self: center;
}
#accueil > #resa {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 60px;
  text-align: center;
  background-color: #f5f5f5;
  width: 100%;
}
#accueil > #resa h1 {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 10px;
}
#accueil > #resa p {
  padding-bottom: 30px;
}
#accueil > #resa #button-explorer button {
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  border-radius: 60px;
  height: 60px;
  width: 240px;
  cursor: pointer;
  outline: none;
  border: none;
  color: white;
  font-size: 1rem;
  box-shadow: 4px 4px 12px rgba(38, 38, 38, 0.3);
  opacity: 1;
  transition: all 0.3s ease;
}
#accueil > #resa #button-explorer button:hover {
  opacity: 0.8;
  box-shadow: 4px 4px 22px rgba(38, 38, 38, 0.4);
}
#accueil > #fonc {
  padding: 20px 20px 40px 20px;
  background-color: white;
}
#accueil > #fonc h2 {
  padding: 40px 0 30px 0;
}
#accueil > #fonc #foncRest {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0 10px 0 10px;
}
@media screen and (min-width: 800px) {
  #accueil > #fonc #foncRest {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
  }
}
#accueil > #fonc #foncRest .fonc {
  width: 100%;
  list-style: none;
  margin-bottom: 20px;
}
#accueil > #fonc #foncRest .fonc input[type=radio] {
  list-style: none;
  visibility: hidden;
  display: none;
}
#accueil > #fonc #foncRest .fonc input[type=radio]:hover + label {
  content: "";
  background-color: rgba(255, 121, 218, 0.2);
  color: #9356dc;
}
#accueil > #fonc #foncRest .fonc input[type=radio]:checked + label {
  content: "";
  background-color: rgba(255, 121, 218, 0.2);
  color: #9356dc;
}
#accueil > #fonc #foncRest .fonc input[type=radio] + label {
  display: flex;
  flex-direction: row;
  position: relative;
  box-shadow: 4px 4px 12px rgba(38, 38, 38, 0.3);
  width: 100%;
  height: 80px;
  border-radius: 20px;
  cursor: pointer;
  align-items: center;
  transition: all 0.3s ease;
}
#accueil > #fonc #foncRest .fonc input[type=radio] + label:hover {
  box-shadow: 4px 4px 22px rgba(38, 38, 38, 0.4);
}
#accueil > #fonc #foncRest .fonc input[type=radio] + label h3 {
  position: absolute;
  left: -12px;
  border-radius: 25px;
  width: 25px;
  height: 25px;
  background-color: #9356dc;
  color: white;
  text-align: center;
  font-size: 0.8rem;
  line-height: 25px;
}
#accueil > #fonc #foncRest .fonc input[type=radio] + label i {
  left: 30px;
  font-size: 1.2rem;
  position: absolute;
  color: #8f8f8f;
}
#accueil > #fonc #foncRest .fonc input[type=radio] + label p {
  padding-left: 70px;
  padding-right: 10px;
  font-weight: bold;
}
#accueil > #fonc #foncRest .fonc input[type=radio] + label p:hover {
  color: #9356dc;
}
@media screen and (min-width: 800px) {
  #accueil > #fonc #foncRest .fonc {
    margin: 0 20px 0 20px;
  }
}
#accueil #rest {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 40px 20px;
  background-color: #f5f5f5;
}
@media screen and (min-width: 800px) {
  #accueil #rest {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 45% 45%;
    grid-gap: 20px;
  }
}
#accueil #rest h2 {
  padding: 40px 0 30px 0;
}
#accueil #rest #emptyH2 {
  display: none;
}
@media screen and (min-width: 800px) {
  #accueil #rest #emptyH2 {
    display: block;
  }
}
#accueil #rest .menuAccueil {
  width: 100%;
  position: relative;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 4px 4px 12px rgba(38, 38, 38, 0.3);
}
@media screen and (min-width: 800px) {
  #accueil #rest .menuAccueil {
    margin-bottom: 0;
    align-self: center;
  }
}
#accueil #rest .menuAccueil a img {
  object-fit: cover;
  object-position: center 60%;
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
}
@media screen and (min-width: 800px) {
  #accueil #rest .menuAccueil a img {
    height: 300px;
  }
}
#accueil #rest .menuAccueil a .Nouveau {
  background-color: #99e2d0;
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 5px;
  height: 35px;
  width: 100px;
  text-align: center;
  line-height: 35px;
  font-weight: bold;
  color: #278870;
  box-shadow: 4px 4px 12px rgba(38, 38, 38, 0.3);
}
#accueil #rest .menuAccueil a .cardMenuBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px 20px 20px;
}
#accueil #rest .menuAccueil a .cardMenuBottom .like {
  font-size: 2rem;
  align-self: center;
}
#accueil #rest .menuAccueil a .cardMenuBottom .like input {
  display: none;
  cursor: pointer;
}
#accueil #rest .menuAccueil a .cardMenuBottom .like input .fa-heart {
  transition: all ease-in-out;
  color: black;
  font-weight: 400;
  opacity: 1;
  cursor: pointer;
}
#accueil #rest .menuAccueil a .cardMenuBottom .like input:checked + .fa-heart {
  font-weight: 900 !important;
  color: #9356dc;
  animation: coeur 0.8s ease;
  opacity: 1;
}
@media screen and (min-width: 800px) {
  #accueil #rest .menuAccueil a .cardMenuBottom .like .fa-heart:hover {
    font-weight: 900 !important;
    color: #ff79da;
    animation: coeurHover 0.6s ease;
    opacity: 1;
    cursor: pointer;
  }
}
@keyframes coeur {
  0% {
    color: black;
    opacity: 0.2;
    font-weight: 400;
  }
  10% {
    color: white;
    opacity: 0.2;
    font-weight: 900;
  }
  100% {
    color: #9356dc;
    opacity: 1;
    font-weight: 900;
  }
}
@keyframes coeurHover {
  0% {
    color: black;
    opacity: 0.2;
    font-weight: 400;
  }
  10% {
    color: white;
    opacity: 0.2;
    font-weight: 900;
  }
  100% {
    color: #ff79da;
    opacity: 1;
    font-weight: 900;
  }
}
#accueil #rest .menuAccueil a .cardMenuBottom h4 {
  padding-bottom: 0.2rem;
}
@media screen and (min-width: 800px) {
  #accueil #rest .menuAccueil a .cardMenuBottom h4 {
    padding-bottom: 0.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
