@mixin boutonRose {
  background: linear-gradient(
    to bottom right,
    $color-secondary,
    $color-primary
  );
  border-radius: 60px;
  height: 60px;
  width: 240px;
  cursor: pointer;
  outline: none;
  border: none;
  color: $color-light;
  font-size: 1rem;
  @include box-shadow-base;
  opacity: 1;
  transition: all 0.3s ease;
  &:hover {
    opacity: 0.8;
    box-shadow: 4px 4px 22px rgba(38, 38, 38, 0.4);
  }
}

@mixin boutonFonc {
  width: 100%;
  & input[type="radio"] {
    list-style: none;
    visibility: hidden;
    display: none;
    &:hover + label {
      content: "";
      background-color: rgba($color-secondary, 0.2);
      color: $color-primary;
    }
    &:checked + label {
      content: "";
      background-color: rgba($color-secondary, 0.2);
      color: $color-primary;
    }

    + label {
      display: flex;
      flex-direction: row;
      position: relative;
      @include box-shadow-base;
      width: 100%;
      height: 80px;
      border-radius: 20px;
      cursor: pointer;
      align-items: center;
      transition: all 0.3s ease;
      &:hover {
        box-shadow: 4px 4px 22px rgba(38, 38, 38, 0.4);
      }
      & .num {
        position: absolute;
        left: -12px;
        border-radius: 25px;
        width: 25px;
        height: 25px;
        background-color: $color-primary;
        color: $color-light;
        text-align: center;
        font-size: 0.8rem;
        line-height: 25px;
      }
      & .fas {
        left: 30px;
        font-size: 1.2rem;
        position: absolute;
        color: #8f8f8f;
      }
      & .foncName {
        padding-left: 70px;
        padding-right: 10px;
        font-weight: bold;
        &:hover {
          color: $color-primary;
        }
      }
    }
  }
}

@mixin menuItemsBtn {
  margin: 20px;
  & .menuItems {
    background-color: $color-light;
    @include box-shadow-base;
    border-radius: 20px;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    

    & .menuItemsPI {
      height: 100%;
      width: 22%;
      align-items: center;
      display: flex;
      justify-content: space-around;
      z-index: 9;
      position: relative;
      transition: all 0.3s;
      & .priceItems {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        transition: all 0.3s;
        right: 0;
        font-weight: bold;
        background-color: $color-light;
        /*transform: translateZ(0);
        backface-visibility: hidden;
        filter: blur(0);*/
        @include large-only {
          width: 80%;
        }
      }
      & .check {
        background-color: $color-tertiary;
        width: 80px;
        position: absolute;
        height: 100%;
        right: -80px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include large-only {
          width: 100px;
          right: -100px;
        }

        & i {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.8rem;
          transition: all 0.3s;
          background-color: $color-tertiary;
          color: $color-light;
          cursor: pointer;
        }
      }
    }
    & .menuItemsTD {
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      padding-right: 4vw;
      transition: all 0.3s;
      flex: 1;
      border-right: 0;
      width: 100%;
      min-width: 0;
      @include large-only {
        padding-left: 40px;
      }

      & .titleItems {
        font-weight: bold;
        padding-bottom: 10px;
        white-space: pre;
        overflow: hidden;
        text-overflow: ellipsis;
        @include large-only {
          font-size: 1.1rem;
        }
      }
      & .descItems {
        overflow: hidden;
        white-space: pre;
        text-overflow: ellipsis;

      }
    }

    @include large-only {
      &:hover .check i {
        transform: rotate(360deg);
      }
      &:hover .check {
        width: 100px;
        position: absolute;
        right: -100px;
      }
      &:hover .priceItems {
        width: 50%;
        right: 0;
        padding: 80px 40px 80px 40px;
      }
      &:hover .menuItemsPI {
        transform: translateX(-100px);
      }
    }
  }
  & input {
    position: absolute;
    left: -9999px;
    &:checked + .menuItems {
      i {
        transform: rotate(360deg);
      }

      .priceItems {
        width: 100%;
        right: 0;
        padding: 80px 40px 80px 40px;
        @include large-only {
          width: 50%;
        }
      }
      .menuItemsPI {
        transform: translateX(-80px);
        @include large-only {
          transform: translateX(-100px);
        }
      }
      .menuItemsTD{
        border-right: $color-light solid 80px;
        @include large-only{
          border-right: $color-light solid 0;
        }
      }
      

    }
  }
}

@mixin likeButton {
  input {
    display: none;
    cursor: pointer;
    & .fa-heart {
      transition: all ease-in-out;
      color: $color-dark;
      font-weight: 400;
      opacity: 1;
      cursor: pointer;
    }

    &:checked + .fa-heart {
      font-weight: 900 !important;
      color: $color-primary;
      animation: coeur 0.8s ease;
      opacity: 1;
    }
  }
  @include large-only {
    .fa-heart:hover {
      font-weight: 900 !important;
      color: $color-secondary;
      animation: coeurHover 0.6s ease;
      opacity: 1;
      cursor: pointer;
    }
  }

  @keyframes coeur {
    0% {
      color: $color-dark;
      opacity: 0.2;
      font-weight: 400;
    }

    10% {
      color: lighten($color-primary, 70%);
      opacity: 0.2;
      font-weight: 900;
    }
    100% {
      color: $color-primary;
      opacity: 1;
      font-weight: 900;
    }
  }

  @keyframes coeurHover {
    0% {
      color: $color-dark;
      opacity: 0.2;
      font-weight: 400;
    }

    10% {
      color: lighten($color-secondary, 70%);
      opacity: 0.2;
      font-weight: 900;
    }
    100% {
      color: $color-secondary;
      opacity: 1;
      font-weight: 900;
    }
  }
}
