@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");

* {
  font-family: "Roboto", serif;

  @include HnFontFam("Shrikhand");

  box-sizing: border-box;
}

a:visited {
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}
