@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");

* {
  font-family: $font-text, serif;

  @include HnFontFam($font-titles);

  box-sizing: border-box;

  margin: 0;
}

a:visited {
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

/* .filled-in{
  font-weight: 900 !important;
  opacity: 1;
  transition: all 2s ease;
  color: $color-primary;} */