@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");

* {
  font-family: $font-text, serif;

  @include HnFontFam($font-titles);

  box-sizing: border-box;

  margin: 0;
}

a:visited {
  text-decoration: none;
  color: $color-dark;
}

a {
  text-decoration: none;
  color: $color-dark;
}
