footer {
  background-color: #3b3b3b;
  padding: 20px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  & span {
    font-family: $font-titles;
    color: $color-light;
    font-size: 1.2rem;
    padding-bottom: 20px;
    display: block;
  }
  & ul {
    padding: 0;
    padding-left: 0;
  }
  & li {
    list-style: none;
    padding-bottom: 10px;
  }
  & li a {
    color: $color-light;
  }
  & li i {
    color: $color-light;
    width: 10px;
    padding-right: 30px;
  }
}
